header nav ul li:nth-of-type(3) {
    text-decoration: underline;
}

/********/
/* MAIN */
/********/
main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 0; */
}

main p {
    font-style: italic;
    text-transform: none;
    text-align: center;
    padding: 0 1em;
    max-width: 18em;
}

main img {
    max-width: 15em;
}