header nav ul li:nth-of-type(2) {
    text-decoration: underline;
}

main {
    padding: 3em .7em;
}

img {
    width: 20em;
}

.carousel {
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.carouselphotos {
    display: flex;
    gap: .5em;
    scroll-snap-align: start; 
}

.carousel img {
    flex-shrink: 0;
}

main p {
    text-transform: none;
    padding-bottom: 3em;
}

main a {
    color: var(--color-link);
    text-transform: none;
    padding: 1.3em;
    padding-right: 0;
}

.KCtitle {
    display: grid;
    grid-template-columns: 1fr max-content;
    padding-bottom: 3em;
}

.KCtitle a {
    font-style: italic;
    font-size: .8em;
}

.silverbook {
    display: flex;
    align-items: center;
    justify-content: center;
}

