header nav ul li:nth-of-type(2) {
    text-decoration: underline;
}

/********/
/* MAIN */
/********/
main {
    padding-bottom: 0;
}

main img {
    width: 15em;
}

main p {
    text-transform: none;
}

@media (width > 40em) {
    main {
        padding: 2em 15em;
    }
}

/*************/
/* VIEW MORE */
/*************/
.info {
    display: grid;
    justify-items: start;
    align-items: center;
    grid-template-columns: 2fr max-content;
}

.info a {
    font-size: small;
    font-style: italic;
    color: var(--color-text);
    text-decoration: none;
    text-transform: none;
}

.border-link {
    display: inline-block; 
    padding: .3em .8em; 
    border: 1px solid var(--color-text); 
    border-radius: 50%; 
    text-decoration: none; 
    font-size: small; 
    text-align: center; 
}

/************/
/* SECTIONS */
/************/
section {
    padding-bottom: 2em;
}

section:nth-of-type(3) {
    padding: 0;
}

.carousel {
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.carouselphotos {
    display: flex;
    gap: .5em;
    scroll-snap-align: start; 
}

.carousel img {
    flex-shrink: 0;
}