header nav ul li:nth-of-type(3) {
    text-decoration: underline;
}

/********/
/* MAIN */
/********/
body {
    display: flex;
    flex-direction: column;
}

main {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 20em;
}

main p {
    font-family: 'Inter';
    text-transform: none;
    text-align: center;
}

footer {
    padding-top: 7em;
}