header nav ul li:nth-of-type(2) {
    text-decoration: underline;
}

/********/
/* MAIN */
/********/
main {
    padding-bottom: 0;
}

main img {
    width: 15em;
}

main p {
    text-transform: none;
}

@media (width > 60em) {
    main {
        padding: 2em 15em;
    }
}

/*************/
/* VIEW MORE */
/*************/
.info {
    display: grid;
    justify-items: start;
    align-items: center;
    grid-template-columns: 2fr max-content;
    padding-bottom: 2em;
}

.info a {
    font-size: small;
    font-style: italic;
    color: var(--color-text);
    text-decoration: none;
    text-transform: none;
}

.border-link {
    display: inline-block; 
    padding: .3em .8em; 
    border: 1px solid var(--color-text); 
    border-radius: 50%; 
    text-decoration: none; 
    font-size: small; 
    text-align: center; 
}

/************/
/* SECTIONS */
/************/

section:nth-of-type(3) {
    padding: 0;
}

.carousel {
    overflow-x: auto;
    display: flex;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.carouselphotos {
    display: flex;
    gap: .5em;
    scroll-snap-align: start; 
}

.carousel img {
    scroll-snap-align: center;
    flex-shrink: 0;
}

section:nth-of-type(1) img {
    width: 15em;
}

.carousel::-webkit-scrollbar {
    display: none; /* verberg scrollbar in Chrome/Safari */
}

@media (width > 60em) {
    section:nth-of-type(1) img {
        width: 30em;
    }

    .carousel-buttons {
        display: flex;
        justify-content: space-between;
        position: relative;
        top: -2.5em;
      }
}