header nav ul li:nth-of-type(3) {
    text-decoration: underline;
}

/********/
/* MAIN */
/********/
@media (width > 50em) {
    main {
        padding: 3em;
        padding-bottom: 1.6em;
    }
}

main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 0; */
}

main p {
    font-style: italic;
    text-transform: none;
    text-align: center;
    padding: 0 1em;
    max-width: 18em;
}

main p:nth-of-type(1) {
    padding-top: 2em;
}

main img {
    max-width: 15em;
}

@media (width > 50em) {
    main img {
        max-width: 10.4em;
    }
}

.myvideo-aboutme {
    width: 30em;
    height: 12em;
    object-fit: cover;
}

@media (width < 50em) {
    .myvideo-aboutme {
        width: auto;
        height: 10em;
        object-fit: cover;
    }
}