/* CUSTOM PROPERTIES */
/* @font-face {
    font-family: 'Milton One';
    src: url('font/milton-one');
} */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

:root {
    --color-text: black;
    --color-base: white;
    --color-link: hotpink;
    --color-fade: #D9D9D9;
    --color-accent: #FDFBE2;
    --color-accent2: #F5F2E3;
    --color-accent3: #F5F4F0;
    --transition: all 300ms ease-in;
}

img {
    width: 20em;
}

/********/
/* BODY */
/********/
body {
    font-family: 'Helvetica';
    color: var(--color-text);
    text-transform: uppercase;
    margin: 0;
    background-color: #F5F4F0;
}

/********/
/* MAIN */
/********/
main {
    flex: 1;
    padding: 2em;
} 

main h2 {
    display: none;
}

/**********/
/* HEADER */
/**********/
header {
    display: flex;
    justify-content: space-between; 
    flex-direction: column;
    position: relative;
}

header img {
    width: 100%;
}

nav {
    transform: translateX(-8rem);
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    bottom: 33vh;
    transition: transform 300ms ease, opacity 300ms ease;
    z-index: 100;
}

#nav-links {
    width: 4rem;
    transition: transform 300ms ease, opacity 300ms ease;
}


.menu a {
    color: black;
    text-shadow: none;
    margin-bottom: 4px;
    text-decoration: none;
    transition: var(--transition);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 2em 2em;
    line-height: 2em;
    background-color: var(--color-accent);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

nav button {
    transform: rotate(90deg) translateY(2rem);
    border: none;
    background: transparent;
    color: black;
    font-size: 1em;
    width: 6rem;
    text-transform: uppercase;
    background-color: var(--color-accent);
    padding: 1em 1.5em 2em 1.5em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: transform 300ms ease;
}

nav.toonMenu {
    transform: translateX(0);
}

/**********/
/* FOOTER */
/**********/
footer {
    color: var(--color-text);
    display: grid;
    gap: .5em;
    justify-items: center;
    padding-block: .5em;
    padding: 2em 0;
    font-size: small;
}

footer p {
    margin: 0;
}

footer p:nth-of-type(3) {
    font-style: italic;
    text-transform: none;
}

footer a {
    color: var(--color-text);
    text-decoration: none;
}

@media (width > 40em) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    header img {
        width: auto;
        height: 10em;
    }

    header nav ul {
        gap: 4em;
    }

    footer {
        justify-items: start;
        grid-template-columns: 1fr max-content;

        grid-template-areas: 
        "mail .         "
        "titel copyright";
        padding: 2em;
    }

    footer p:nth-of-type(1) {
        grid-area:mail;
    }
    
    footer p:nth-of-type(2) {
        grid-area:titel;
    }
    
    footer p:nth-of-type(3) {
        grid-area:copyright;
    }
}

.backbutton {
    display: flex;
    justify-content: center;
}

.backbutton a {
    color: var(--color-text);
    font-style: italic;
    text-transform: none;
}

.backbutton .border-link {
    display: inline-block; 
    padding: .1px 15px; 
    border: 1px solid var(--color-text); 
    border-radius: 50%; 
    text-decoration: none; 
    font-size: smaller; 
    text-align: center; 
}